/* You can add global styles to this file, and also import other style files */

body {
    background-color: rgb(230, 230, 230);
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
    user-select: none;
}

div, span {
    cursor: default;
}